.container{
    font-family: 'Poppins', sans-serif;
    /* margin: 0; */
    /* padding: 0; */
}
.container{
    display: flex;
    position: relative;
    background-color: white;
    width: 100%;
    height: 1000px;
    top: 80px;
}
.container .contactInfo{
    position: relative;
    margin-left: 3rem;
    padding-bottom: 20px;
    padding-right: 50px;
    width: 21rem;
    height: 32rem;
    background-color:#00bda5;
    margin-top: 20px;
}
.container .contactInfo div h2{
    text-align: center;
    
}

.contactForm h2{
    margin-top: -10px;
}
/* .info li span:nth-child(1){ */
    /* background-color: red; */

/* } */

.info li span:nth-child(2){
    /* background-color: red; */
    display: block;
    margin: 0 0 20px 7px ;
}
span.infoDetail{
    position: relative;
    top: 5px;
    font-size: 20px;
}

.info li{
    list-style: none;
    display: flex;
}
.fontSize{
    font-size: 20px;
}
#marginBottomEmail{
    margin-bottom: 35px;
}
.contactInfo .socialContact{
    display: flex;
}
ul.socialContact li {
    list-style: none;
}
.contactInfo{
    z-index: 10;
}
.socialContact{
    margin-top: 100px;
    margin-left: 20px;
    gap: 20px;
}

.contactForm{
    margin-left: 80px;
    margin-top: 20px;

}
.contactForm div input{
    border-radius: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /* margin-top: 20px; */
}


.container .contactForm .formBox{
    position: relative;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
.container .contactForm .formBox .inputBox{
    position: relative;
    margin-bottom: 35px;

}
.container .contactForm .formBox .inputBox.w50{
    width: 47%;
}
.container .contactForm .formBox .inputBox.w100{
    width: 100%;
}
.container .contactForm .formBox .inputBox input,
.container .contactForm .formBox .inputBox textarea{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300 ;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}
.container .contactForm .formBox .inputBox textarea{
    height: 120px;
}

.container .contactForm .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}
.container .contactForm .formBox .inputBox input:focus ~ span,
.container .contactForm .formBox .inputBox input:valid ~ span,
.container .contactForm .formBox .inputBox textarea:focus ~ span,
.container .contactForm .formBox .inputBox textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #00bda5;
}

span.fontSizeBold{
    font-size: 20px !important;
    margin-top: -9px;
    color: black;
}

.container .contactForm .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background-color: black;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}

#SubmitButton:hover{
    color: black;
    background-color: #00bda5;
}

/* responsive */
@media (max-width:1910px)
{
    .container{
        height: 500px;
    }
}
@media (max-width:821px)
{
    .container{
        height: 900px;
    }
}

@media (max-width:820px)
{
    .container{
        display: flex;
        flex-direction: column-reverse;
    }
    .contactInfo{
        width: 100%;
    }
}

@media (max-width:820px)
{
    .container .contactInfo{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 37rem;
    }


}

@media (max-width:710px)
{
    .container{
        height: 1100px;
    }
    .container .contactInfo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 30rem;
    }
    .contactForm .formBox{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .container .contactForm .formBox .inputBox.w50{
        width: 88%;
    }
    .container .contactForm .formBox .inputBox.w100{
        width: 88%;
    }

}

@media (max-width:563px){
    .container .contactInfo{
        width: 25rem;
    }
}

@media (max-width:490px){
    .container .contactInfo{
        width: 23rem;
    }
}

@media (max-width:450px){
    .container .contactInfo{
        width: 21rem;
    }
}
@media (max-width:450px){
    .container {
        position: relative;
        left: -20px;
    }
}

@media (max-width:390px){
    .contactInfo {
        position: relative;
        left: -20px;
    }
}


@media (max-width:375px){
    .container{
        /* margin-left: -25px; */
        width: 100%;
    }
    .container .contactInfo{
        margin-right: 20px;
        width: 20rem;
        /* width: 100%; */
    }
}